/*Inicialização CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Inicialização CSS final*/

/*----------------------------------------------------------------------------------------*/

/*Botões alternativa e dissertativa*/
#btn-alternativa,
 #btn-dissertativa{ /*mobile*/
  width: 35%;
  color: black;
  border-radius: 40px 40px;
  text-transform: capitalize;
  font-family: 'Muli';
  font-size: 85%;
  border-color: black;
  border-width: 2px;
  /*top: / right: / bottom: / left:*/
  padding: 2.5% 0% 2.5% 0%;
  background-color: white;
}

#btn-alternativa {
  margin-right: 5%;
}

/*Transição de cor dos botões alternativa e dissertativa*/
.buttonClicked{
  background-color: #7C6FBF!important;
  color: white!important;
}
/*Transição de cor dos botões alternativa e dissertativa final*/

/*Botões alternativa e dissertativa final*/

/*----------------------------------------------------------------------------------------*/

/*Estilização celular*/

/*Título celular*/
.tituloAQ{
  font-family: "Muli";
  font-size: 170%;
  color: #413F3F;
}
/*Título celualr final*/

/*Linha lateral*/
.lateralcel{
  width: 100%;
  height:50em;
  background: linear-gradient(to bottom, #D0C7FC, #8F83CD, #7C6FBF);
}
/*Linha lateral final*/

.arquivo{
  width: 95%;
  font-size: 90%;
  font-family: "Muli";
  color: #413F3F;
  background-color: white;
}
/*Estilização celular final*/

/*----------------------------------------------------------------------------------------*/

/*Formulário celular */

.materia{
  margin-top: 12%!important;
  width: 80%;
}

.enunciado{
font-size: .8rem;
color: #9e9e9e;
}

.materiaaa{
  color: purple;
}

.imagem{
  width: 50%;
}
/*Formulário celular final*/

/*----------------------------------------------------------------------------------------*/

/*Dashboard celular*/

.row{
  margin-left: 0%;
  margin-bottom: 0%!important;
}

.dashboardcel{
  background-color: #8579C3;
  width: 100%;
  height: 10%;
  margin-left: 0%;
}

a {border-radius: 10px 10px;
}

.logocel{
  width: 80%;
  float: right;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: -30%;
}

.nomelogocel {
  width: 100%;
  float: right;
  margin-top: 25%;
  margin-bottom: 25%;
  margin-right: -40%;
}

.material-icons {
  color: white;
  margin-top: 56%;
  margin-bottom: 54%;
  margin-left: 35%;
  font-size: 80px;
}

.logo {
  width: 60%;
  position: absolute;
  margin-left: 13%;
  margin-top: 15%
}

.links_menucel {
  position: absolute;
  margin-top: 100%;
}

.divider {
  margin-left: 0%;
  width: 100%;
  margin-top: 0px;
}

.saves,
.document,
.question,
.perfil {
  font-family: 'Muli';
  font-size: 120%;
  height: 5%;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}

.amarelo_pequeno {
  position: absolute;
  margin-left: -8%;
  margin-top: -8%;
}

.roxo {
  position: absolute;
  margin-left: 81.5%;
  margin-top: 60%;
}

.roxo_claro {
  position: absolute;
  margin-left: -10%;
  margin-top: 200%;
}

.amarelo_grande {
  position: absolute;
  margin-left: 62%;
  margin-top: 240%;
  width: 30%;
}

.sair {
  font-family: 'Muli';
  font-size: 100%;
  position: absolute;
  margin-top: 15%;
  color: #DD636E;
  margin-left: 50%;
}

.sair2 {
  color: #DD636E;
  margin-left: -100%;
  margin-top: 40%;
  position: absolute;

}

@media (min-width: 400px){

  .logo {
    width: 60%;
    position: absolute;
    margin-left: 13%;
    margin-top: 30%
  }

  .links_menucel {
    position: absolute;
    margin-top: 100%;
  }

  .saves,
  .document,
  .question,
  .perfil {
    font-family: 'Muli';
    line-height: 400%;
    font-size: 120%;
    height: 5%;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .roxo_claro {
    position: absolute;
    margin-left: -10%;
    margin-top: 240%;
  }

  .amarelo_grande {
    position: absolute;
    margin-left: 62%;
    margin-top: 280%;
  }
}
/*Dashboard celular final*/

/*----------------------------------------------------------------------------------------*/

/*Responsividade computador*/

/*computador 1280x800*/
/*computador 1280x800 final*/

/*computador 1366x768*/
/*computador 1366x768 final*/

/*computador 1920x1080*/
/*computador 1920x1080 final*/

/*Responsividade computador final*/

/*----------------------------------------------------------------------------------------*/

/*Responsividade celular*/

/*celular 360x680*/
/*celular 360x680 final*/

/*celular 375x667*/
/*celular 375x667 final*/

/*celular 414x896*/
/*celular 414x896 final*/

/*Responsividade celular final*/
