/*Inicialização CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Inicialização CSS final*/

/*Responsividade celular*/
/*Responsividade celular final*/

/*Responsividade computador*/
/*Responsividade computador final*/
