/*DASHBOARD*/

#retanguloroxo {
  -webkit-filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.3));
}

#nav-pc{
  margin-right: 27%;
  font-family: 'muli';
  margin-top: 5.5%;
  height: 50%;

}

#dashboardpc{
  background-color: #8579C3;
  height: 200%;
}

#logopc{
  width: 7%;
  margin-top: 0.8%;
  margin-bottom: 1%;
  margin-left: 2%;
}

#nomelogopc {
  width: 9%;
  margin-top: %;
  margin-bottom: 3.5%;
}

#botaopesq{
  background-color: #7C6FBF;
  margin-left: 1%;
  color: black;
  margin-top: 20%;
}

#icone{
  margin-left: -30%;
}

#botaoadd{
  font-size: 2.4em;
  padding-bottom: 4.2%;
  position: absolute;
  left: 58%;
  top: 39.5%;
}

#nome, #prontuario {
  margin-top: 10%;
  width: 30%;
  margin-bottom: 2.5%;
}

#nome {
  margin-left: 3%;
  width: 30%;
}

#cpf {
  position: absolute;
  margin-left: 0.3%;
  top: 21%;
}

::-webkit-input-placeholder {
   text-align: center;
   font-family: 'Muli';
}

/*CELULAR*/

@media (max-width: 320px){


  #botaopesq{
    margin-top: 5%;
    margin-left: 5%;
  }

  #icone { margin-left: -15%; }

  #botaoadd{
    float: left;
    margin-left: 8%;
  }

}

@media (max-width: 360px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }

  #botaopesq{
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 5000px;
    color: black;
    Width: 24%;
  }

  #icone { margin-left: -15%; }

  #botaoadd{
    float: left;
    margin-left: 10%;
    margin-top: -16%;
  }

}

@media (max-width: 375px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 4%;
    border-radius: 5000px;
    color: black;
    height: 3%;
    width: 23%;
  }

  #icone { margin-left: -15; }

  #botaoadd{
    float: left;
    margin-left: 10%;
    margin-top: -15%;
  }

  #nome { margin-left: 3.5%; }
}

@media (max-width: 411px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 3%;
    border-radius: 5000px;
    color: black;
    height: 3%;
    width: 20%;
  }

  #icone { margin-left: -20%; }

  #botaoadd{
    float: left;
    margin-left: 11%;
    margin-top: -14%;
  }

}

@media (max-width: 414px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-top: -2%
    margin-left: 4%;
    border-radius: 5000px;
    color: black;
    height: 3%;
    width: 21%;
  }

  #icone { margin-left: -15%; }

  #botaoadd{
    float: left;
    margin-left: 11%;
    margin-top: -14%;
  }

}


/*COMPUTADOR*/

@media (min-width: 1024px){

  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    color: black;
    height: 3%;
    width: 8%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{

    float: left;
    margin-left: 18%;
    margin-top: -5.3%;
  }
  #nome {
    margin-left: 12.5%;
    width: 33%;
  }

  #prontuario, #cpf{
    margin-top: 5%;
    width: 15%;
  }
}

@media (min-width: 1280px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    color: black;
    height: 3%;
    width: 4.2%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -4.5%;
  }

}

@media (min-width: 1366px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    color: black;
    height: 3%;
    width: 6%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -4%;
  }

}

@media (min-width: 1440px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    color: black;
    height: 3%;
    width: 5.6%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -4%;
  }

}

@media (min-width: 1600px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    color: black;
    height: 3%;
    width: 5%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -4%;
  }

}

@media (min-width: 1680px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    color: black;
    height: 3%;
    width: 5%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -3.5%;
  }

}

@media (min-width: 1920px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    color: black;
    height: 3%;
    width: 4.2%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -3%;
  }

}
