#barrapesq{
  background-color: white;
  margin-left: 25%;
  margin-top: 3%;
  font-family: 'Muli';
}

#botaopesq{
  background-color: #7C6FBF;
}

#icone{
  margin-left: -30%;
}

#botaoadd{
  float: left;
  margin-left: 20%;
}

#nome, #prontuario, #cpf{
  margin-top: 5%;
  width: 30%;
  font-family: 'Muli';
}

#nome { margin-left: 3%; }

::-webkit-input-placeholder {
   text-align: center;
   font-family: 'Muli';
   color: #8D8989;
}

/*CELULAR*/

@media (max-width: 320px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }

  #botaopesq{
    margin-top: 5%;
    margin-left: 5%;
  }

  #icone { margin-left: -15%; }

  #botaoadd{
    float: left;
    margin-left: 8%;
  }

}

@media (max-width: 360px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 5000px;
    Width: 24%;
  }

  #icone { margin-left: -15%; }

  #botaoadd{
    float: left;
    margin-left: 10%;
    margin-top: -16%;
  }

}

@media (max-width: 375px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 4%;
    border-radius: 5000px;
    height: 3%;
    width: 23%;
  }

  #icone { margin-left: -15; }

  #botaoadd{
    float: left;
    margin-left: 10%;
    margin-top: -15%;
  }

  #nome { margin-left: 3.5%; }
}

@media (max-width: 411px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 3%;
    border-radius: 5000px;
    height: 3%;
    width: 20%;
  }

  #icone { margin-left: -20%; }

  #botaoadd{
    float: left;
    margin-left: 11%;
    margin-top: -14%;
  }

}

@media (max-width: 450px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }

  #botaopesq{
    margin-top: 2%;
    margin-left: 4%;
    border-radius: 5000px;
    height: 3%;
    width: 21%;
  }

  #icone { margin-left: -13%; }

  #botaoadd{
    float: left;
    margin-left: 11%;
    margin-top: -12.5%;
  }

}


/*COMPUTADOR*/

@media (min-width: 1024px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    height: 3%;
    width: 8%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{

    float: left;
    margin-left: 18%;
    margin-top: -5.3%;
  }
  #nome {
    margin-left: 12.5%;
    width: 45%;
  }

  #prontuario, #cpf{
    margin-top: 5%;
    width: 15%;
  }
}

@media (min-width: 1280px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    height: 3%;
    width: 4.2%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -4.5%;
  }

}

@media (min-width: 1366px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    height: 3%;
    width: 6%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -4%;
  }

}

@media (min-width: 1440px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    height: 3%;
    width: 5.6%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -4%;
  }

}

@media (min-width: 1600px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    height: 3%;
    width: 5%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -4%;
  }

}

@media (min-width: 1680px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    height: 3%;
    width: 5%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -3.5%;
  }

}

@media (min-width: 1920px){

  #barrapesq{
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
  }


  #botaopesq{
    margin-left: 1%;
    border-radius: 5000px;
    height: 3%;
    width: 4.2%;
  }

  #icone { margin-left: -30%; }

  #botaoadd{
    float: left;
    margin-left: 20%;
    margin-top: -3%;
  }

}
