/* RESET DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Dashboard para o celular*/
#dashboardcel{
  background-color: #8579C3;
}

a {
  border-radius: 10px 10px;
}

#logocel{
  width: 80%;
  float: right;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: -30%;
}

#nomelogocel {
  width: 100%;
  float: right;
  margin-top: 25%;
  margin-bottom: 25%;
  margin-right: -40%;
}

.material-icons {
  color: white;
  margin-top: 56%;
  margin-bottom: 54%;
  margin-left: 35%;
  font-size: 80px;
}

#logo {
  width: 60%;
  position: absolute;
  margin-left: 13%;
  margin-top: 15%
}

#links_menucel {
  position: absolute;
  margin-top: 100%;
}

#divider {
  margin-left: 0%;
  width: 100%;
  margin-top: 0px;
}

#saves,
#document,
#question,
#perfil {
  font-family: 'Muli';
  font-size: 120%;
  height: 5%;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}

#amarelo_pequeno {
  position: absolute;
  margin-left: -8%;
  margin-top: -8%;
}

#roxo {
  position: absolute;
  margin-left: 81.5%;
  margin-top: 60%;
}

#roxo_claro {
  position: absolute;
  margin-left: -10%;
  margin-top: 200%;
}

#amarelo_grande {
  position: absolute;
  margin-left: 62%;
  margin-top: 240%;
  width: 30%;
}

#sair {
  font-family: 'Muli';
  font-size: 100%;
  position: absolute;
  margin-top: 15%;
  color: #DD636E;
  margin-left: 50%;
}

#sair2 {
  color: #DD636E;
  margin-left: -100%;
  margin-top: 40%;
  position: absolute;

}


@media (min-width: 400px){

  #logo {
    width: 60%;
    position: absolute;
    margin-left: 13%;
    margin-top: 30%
  }

  #links_menucel {
    position: absolute;
    margin-top: 100%;
  }

  #saves,
  #document,
  #question,
  #perfil {
    font-family: 'Muli';
    line-height: 400%;
    font-size: 120%;
    height: 5%;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }

  #roxo_claro {
    position: absolute;
    margin-left: -10%;
    margin-top: 240%;
  }

  #amarelo_grande {
    position: absolute;
    margin-left: 62%;
    margin-top: 280%;
  }

}


/*Dashboard para o computador*/

#retanguloroxo {
  -webkit-filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.3));
}

#nav-pc{
  margin-right: 27%;
  font-family: 'muli';
  margin-top: 5.5%;
  height: 50%;
}

#questao{
  margin-top: -3.25%;
  line-height: 25px;
  text-align: center;
  font-size: 19px;
  position: absolute;
  margin-left: -44%;

}

#documento{
  margin-top: -3.25%;
  line-height:25px;
  text-align: center;
  font-size: 19px;
  position: absolute;
  margin-left: -27.6%;
}

#salvos{
  margin-top: -3.75%;
  text-align: center;
  font-size: 20px;
  position: absolute;
  margin-left: -10%;
}

#linha1{
  height: 65%;
  margin-top: -4%;
  position: absolute;
  margin-left: -30%;
}

#linha2{
  height: 65%;
  margin-top: -4%;
  position: absolute;
  margin-left: -13%;
}

#dashboardpc{
  background-color: #8579C3;
  height: 150%;
}

#logopc{
  width: 8%;
  margin-top: 0.745%;
  margin-bottom: 1%;
  margin-left: 2%;
}

#nomelogopc {
  position: absolute;
  width: 14%;
  margin-top: 3%;
  margin-bottom: 5.5%;
}

#perfil_pequeno {
  margin-left: 85%;
  margin-top: -8%;
  color: red;
  font-family: 'Muli';
  font-size: 20px;
}

#nome-dashboard{
  color: white;
}

#foto_perfil_pequeno {
  width: 45%;
  margin-left: -60%;
  position: absolute;
}


@media (min-width: 1200px)
{
  #perfil1 {
    width: 6%;
    height: 70%;
    position: absolute;
    margin-left: 7%;
    margin-top: -3.5%;
  }

  #nome {
    position: absolute;
    width: 10%;
    margin-top: -1.5%;
    margin-bottom: 5.5%;
    margin-left: 15%;
  }

  #logopc {
    width: 6%;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: 2%;
  }

  #nomelogopc {
    width: 10%;
    margin-top: 3%;
    margin-bottom:5%;
  }

  #questao{
    line-height:25px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -43%;

  }

  #documento{
    line-height: 25px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -26%;
  }

  #salvos{
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -8%;
  }

  #linha1{
    margin-top: -3%;
    position: absolute;
    margin-left: -30%;
  }

  #linha2{
    margin-top: -3%;
    position: absolute;
    margin-left: -11%;
  }

  #perfil_pequeno {
    margin-left: 85%;
    margin-top: -6.5%!important;
    color: white;
    position: absolute;
    font-family: 'Muli';
    font-size: 20px;
  }

  #foto_perfil_pequeno {
    width: 45%;
    margin-left: -60%;
    position: absolute;
  }

}

@media (min-width: 1100px)
{
  #nav-pc{
    margin-right: 27%;
    font-family: 'muli';
    margin-top: 4.7%;
    height: 50%;
}
    #logopc {
      width: 8%;
      margin-top: 0.5%;
      margin-bottom: 1%;
      margin-left: 2%;
    }

    #nomelogopc {
      width: 12%;
      margin-top: 3%;
      margin-bottom:5%;
    }

    #questao{
      line-height:25px;
      text-align: center;
      font-size: 20px;
      position: absolute;
      margin-left: -45%;

    }

    #documento{
      line-height:25px;
      text-align: center;
      font-size: 20px;
      position: absolute;
      margin-left: -27%;
    }

    #salvos{
      text-align: center;
      font-size: 20px;
      position: absolute;
      margin-left: -6%;
    }

    #linha1{
      margin-top: -3%;
      position: absolute;
      margin-left: -31%;
    }

    #linha2{
      margin-top: -3%;
      position: absolute;
      margin-left: -10%;
    }

    #perfil_pequeno {
      margin-left: 85%;
      margin-top: -7%;
      color: white;
      position: absolute;
      font-family: 'Muli';
      font-size: 20px;
    }

    #foto_perfil_pequeno {
      width: 45%;
      margin-left: -60%;
      position: absolute;
      margin-top: -2%;
    }
}

@media (min-width: 1300px)
{
  #logopc{
    width: 6%;
    margin-top: 0.6%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  #nomelogopc {
    position: absolute;
    width: 10%;
    margin-top: 2.5%;
    margin-bottom: 5.5%;
  }

  #nav-pc{
    margin-right: 33%;
    font-family: 'muli';
    margin-top: 4.0%;
    height: 50%;
  }

  #questao{
    line-height:25px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -42%;
    margin-top: -2.5%;
  }

  #documento{
    line-height:25px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -23%;
    margin-top: -2.5%;
  }

  #salvos{
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -4%;
    margin-top: -2.5%;
  }

  #linha1{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -28%;
    width: 0.2%;
  }

  #linha2{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -8%;
    width: 0.2%;
  }

  #perfil_pequeno {
      margin-left: 85%;
      margin-top: -8.5%!important;
      color: white;
      position: absolute;
      font-family: 'Muli';
      font-size: 20px;
    }

    #foto_perfil_pequeno {
      width: 45%;
      margin-left: -60%;
      margin-top: 1%!important;
      position: absolute;
    }

}

@media (min-width: 1600px)
{
  #nav-pc{
    margin-right: 34%;
    font-family: 'muli';
    margin-top: 3.5%;
    height: 50%;
  }

  #logopc{
    width: 5.5%;
    margin-top: 0.4%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  #nomelogopc {
    width: 9%;
    margin-top: 2%;
    margin-bottom:4.5%;
  }

  #questao{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -40%;

  }

  #documento{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -23%;
  }

  #salvos{
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -4.5%;
  }

  #linha1{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -27%;
  }

  #linha2{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -9%;
  }

  #perfil_pequeno {
    margin-left: 85%;
    margin-top: -5%!important;
    color: white;
    position: absolute;
    font-family: 'Muli';
    font-size: 25px;
  }

  #foto_perfil_pequeno {
    width: 45%;
    margin-left: -60%;
    margin-top: -5%!important;
    position: absolute;
    margin-top: -2%;
  }
}

@media (min-width: 1800px)
{
  #nav-pc{
    margin-right: 34%;
    font-family: 'muli';
    margin-top: 3.5%;
    height: 50%;
  }

  #logopc{
    width: 5%;
    margin-top: 0.1%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  #nomelogopc {
    width: 8%;
    margin-top: 1.6%;
    margin-bottom:4.5%;
  }

  #questao{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -39%;

  }

  #documento{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -23.5%;
  }

  #salvos{
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -5.5%;
  }

  #linha1{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -28%;
  }

  #linha2{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -10%;
  }

  #perfil_pequeno {
    margin-left: 85%;
    margin-top: -4.3%!important;
    color: white;
    position: absolute;
    font-family: 'Muli';
    font-size: 25px;
  }

  #foto_perfil_pequeno {
    width: 45%;
    margin-left: -60%;
    margin-top: -5.5%!important;
    position: absolute;
    margin-top: -2%;
  }
}

@media (min-width: 1920px)
{
  #nav-pc{
    margin-right: 34%;
    font-family: 'muli';
    margin-top: 3.5%;
    height: 50%;
  }

  #logopc{
    width: 5%;
    margin-top: 0.1%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  #nomelogopc {
    width: 8%;
    margin-top: 1.6%;
    margin-bottom:4.5%;
  }

  #questao{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -39%;

  }

  #documento{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -23.5%;
  }

  #salvos{
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -5.5%;
  }

  #linha1{
    width: 0.1%;
    margin-top: -2.5%;
    position: absolute;
    margin-left: -28%;
  }

  #linha2{
    width: 0.1%;
    margin-top: -2.5%;
    position: absolute;
    margin-left: -10%;
  }

  #perfil_pequeno {
    margin-left: 85%;
    margin-top: -4%!important;
    color: white;
    position: absolute;
    font-family: 'Muli';
    font-size: 25px;
  }

  #foto_perfil_pequeno {
    width: 45%;
    margin-left: -60%;
    position: absolute;
    margin-top: -2%;
  }
}


/*FORMATAÇÃO CELULAR*/

/*JAVASCRIPT*/
  #gabarito, #add_questoes { display: none; }

  #documento1 {display: block;}

  #documento1:checked, #gabarito:checked, #add_questoes:checked { z-index: auto; }

  .documento1, .gabarito, .add_questoes { display: none; }


/*FUNCIONA EM TUDO: DOCUMENTO*/
  html {
    box-sizing: inherit!important;
    }

  #nome_documento {
    position: absolute;
    margin-top: -7%;
    margin-left: 20.5%;
    width: 58%;
    padding-left: 1%;
    padding-right: 1%;
    text-overflow: ellipsis;
  }

  #documento1 textarea {
    position: absolute;
    width: 83%;
    height: 52%;
    resize: none;
    margin-left: 5.5%;
    top: 23%;
    border-radius: 20px 20px;
    padding: 5% 5% 5% 5%;
  }

  textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  #btn_salvar {
    position: absolute;
    font-size: 75%;
    padding-top: 0.5%;
    padding-bottom: 10%;
    font-family: 'Muli';
    width: 30%;
    background-color: #FFBC2B;
    border-radius: 40px 40px;
    top: 78%;
    left: 35.5%;
  }

  #seta_esquerda {
    position: absolute;
    top: 79%;
    left: 14%;
  }

  #seta_direita {
    position: absolute;
    left: 76%;
    top: 79%;
  }

  #rodape {
    background-color: white;
    height: 10%;
    box-shadow: 0px 0px 10px 1px gray;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

   #rodape ul{
    display: grid;
    gap: 3em;
    grid-template-columns: 25% 25% 25%;
    margin-left: -2%;
  }

  /*FUNCIONA EM TUDO: GABARITO*/

  #título_gabarito {
    color: #706f78;
    margin-top: 0%;
    text-align: center;
  }

  #gabarito textarea {
    position: absolute;
    width: 72.5%;
    height: 46%;
    resize: none;
    margin-left: 8.3%;
    top: 23%;
    border-radius: 20px 20px;
    padding: 5% 5% 5% 5%;
  }

  #btn_salvar2 {
    position: absolute;
    font-size: 75%;
    padding-top: 0.5%;
    font-family: 'Muli';
    width: 21.2%;
    background-color: #FFBC2B;
    border-radius: 40px 40px;
    top: 78%;
    left: 35.5%;
  }

  #seta_esquerda2 {
    position: absolute;
    top: 79%;
    left: 14%;
  }

  #seta_direita2 {
    position: absolute;
    left: 76%;
    top: 79%;
  }

  /*FUNCIONA EM TUDO: ADD_QUESTÕES*/

  #filtro_parte1 { /*matéria e tema*/
    position: absolute;
    display: grid;
    gap: 3em;
    grid-template-columns: 40% 40%;
    margin-left: 7%;
    top: 12%;
  }

  #filtro_parte2 { /*subtema e modalidade*/
    position: absolute;
    display: grid;
    gap: 3em;
    grid-template-columns: 40% 40%;
    top: 65%;
  }

  #filtro_parte3 { /*dificuldade e origem*/
    position: absolute;
    display: grid;
    gap: 3em;
    grid-template-columns: 40% 40%;
    top: 130%;
  }

  #filtro_parte4 { /*minhas questões e meus favoritos*/
    position: absolute;
    display: grid;
    gap: 4.8em;
    grid-template-columns: 40% 60%;
    left: 7%;
    top: 40%;
  }

  #quest_profs {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 90%;
    height: 10%;
    border-radius: 10px 10px;
    border: 1px solid #706f78;
  }

  #foto_prof {
    position: absolute;
    width: 12%;
    top: 50%;
    left: 5%;
  }

  /*MUDAR CORES DAS BORDAS DO TEXTAREA E DO INPUT*/
  .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 1)!important;
  }

  input{
    border-bottom: 1px solid #d1d1d1!important;
    -webkit-box-shadow: 0 1px 0 0 #d1d1d1!important;
    box-shadow: 0 1px 0 0 #d1d1d1!important;
  }
  /*FINAL DAS CORES DAS BORDAS DO TEXTAREA E DO INPUT*/


  /*CÓDIGOS PARA MUDAR A FORMATAÇÃO DAS CORES DOS CAMPOS DO MATERIALIZE*/
  .select-dropdown li.optgroup>span {
      color: rgba(0,0,0,0.4)!important;
  }

  .dropdown-content li>span {
    color: #7C6FBF!important;
  }

  .select-dropdown li.disabled>span {
    color: rgba(0,0,0,0.4)!important;
  }

  .select-wrapper input.select-dropdown {
    color: #d1d1d1;
  }
  /*CÓDIGOS PARA MUDAR A FORMATAÇÃO DAS CORES DOS CAMPOS DO MATERIALIZE FINAL*/

  /*FINAL FORMATAÇÃO CELULAR*/
