/* RESET DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*FORMATAÇÃO COMPUTADOR*/

/*JAVASCRIPT DESK*/
  #gabarito_desk { display: none; }

  #documento1_desk {display: block;}

  #documento1_desk:checked, #gabarito_desk:checked { z-index: auto; }

  .documento1_desk, .gabarito_desk { display: none; }

  /*DOCUMENTO DESK*/
  #nome_documento_desk {
    position: absolute;
    margin-top: 0%;
    margin-left: 12%;
    width: 32%;
    padding-left: 1%;
    padding-right: 1%;
    text-overflow: ellipsis;
  }

  #documento1_desk #quadrado_desk {
    position: absolute;
    width: 40%;
    height: 65%;
    margin-left: 2.5%;
    top: 24%;
    border-radius: 20px 20px;
    border: 1px solid #6363638c;
    padding: 2% 2% 2% 2%;
  }

  #btn_gabarito_desk {
    position: absolute;
    font-size: 75%;
    font-family: 'Muli';
    width: 10%;
    height: 5%;
    border-radius: 40px 40px;
    top: 92%;
    left: 25%;
    color: #5f5e60;
  }

  #btn_documento_desk {
    position: absolute;
    font-size: 75%;
    font-family: 'Muli';
    width: 10%;
    height: 5%;
    border-radius: 40px 40px;
    top: 92%;
    left: 11%;
    color: #5f5e60;
  }

  /*GABARITO DESK*/
  #título_gabarito_desk {
    position: absolute;
    margin-top: 1%;
    margin-left: 21%;
    font-family: 'Muli';
    font-size: 200%;
    color: #706f78;
  }

  #gabarito_desk #quadrado_desk {
    position: absolute;
    width: 40%;
    height: 65%;
    margin-left: 2.5%;
    top: 24%;
    border-radius: 20px 20px;
    border: 1px solid #6363638c;
    padding: 2% 2% 2% 2%;
  }

  /*ADD_QUESTÕES DESK*/

  #filtro_parte1_desk { /*matéria, tema e subtema*/
    position: absolute;
    display: grid;
    gap: 3em;
    grid-template-columns: 25% 25% 25%;
    left: 50%;
    top: 14%;
  }

  #filtro_parte2_desk { /*modalidade, dificuldade e origem*/
    position: absolute;
    display: grid;
    gap: 3em;
    grid-template-columns: 25% 25% 25%;
    top: 22%;
    left: 50%;
  }

  #filtro_parte3_desk { /*favoritos e minhas questões*/
    position: absolute;
    display: grid;
    gap: 3em;
    grid-template-columns: 40% 55%;
    top: 34%;
    left: 61%;
  }

  #scroll_desk {
    position: absolute;
    overflow: auto;
    width: 50%;
    height: 40%;
    left: 49%;
    top: 45%;
    display: grid;
    gap: 1em;
    grid-template-columns: 12% 62% 20% 15%;
  }

  #quest_profs_desk {
    margin-top: 5%;
    width: 360%;
    height: 70%;
    font-size: 120%;
    color: black;
    border-radius: 10px 10px;
    border: 1px solid #706f78;
    padding: 2% 2% 2% 2%;
  }

  #foto_prof_desk {
    max-width: 55px;
    max-height: 55px;
    width: auto;
    height: auto;
    margin-top: 20%;
    margin-left: 10%;
  }

  #engrenagem_desk {
    width: 40%;
    margin-top: 2%;
    margin-left: 50%;
  }

  #eng {
    width: 80%!important;
  }

  #addquest_documento_desk {
    margin-left: 5%;
    width: 100%;
  }

  #btn_fechar_modal {
  width: 12%;
  margin-left: 88%!important;
  margin-top: -5%!important;
  }

  #btn-teste_desk { /*botão que o wendel pediu, ele é rosa*/
    width: 77%;
    margin-left: -95%;
    box-shadow: none;
  }

  #add_desk {
    width: 70%;
    left: -49%;
  }


  #btn_addquest_desk {
    width: 75%;
    height: 70px;
    justify-content: center;
    margin-left: 5%;
    margin-top: -2%;
    border-radius: 20px 20px;
    display: grid;
    gap: 2em;
    grid-template-columns: 20% 60%;
  }



  #img_addquest_desk {
    width: 100%;
    margin-top: 42%!important;
    margin-left: 20%;
  }

  #palavra_addquestao_desk {
    color: #59595b;
    font-family: 'Muli';
    font-size: 110%;
    margin-top: 15%;
    margin-left: -6%;
  }

  div#engrenagem-modal_desk.modal.open{
    border-radius: 15px 15px;
    border: #7C6FBF 5px solid;
    width: 30%;
  }

  /*TRANSIÇÃO: MUDAR A QUESTÃO P/ RESPOSTA DESK*/
  .flip-container_desk {
    width: 100px;
    height: 100px;
    perspective: 1000px;
  }

  .back_desk{
    transform: rotateY(180deg);
  }

  .front_desk, .back_desk{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  #switch_desk:checked ~ .flip-container_desk .flipper_desk {
    transform: rotateY(180deg);
  }

  .flipper_desk{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  #switch_desk{
      display: none;
  }
  /*FINAL TRANSIÇÃO: MUDAR A QUESTÃO P/ RESPOSTA DESK*/

  /*LER MAIS E MENOS*/

  /*.morecontent span {
    display: none;
  }

  .morelink {
      display: block;
  }*/

  /*MODAL DENTRO DO MODAL "DENUNCIAR", "FAVORITAR", ETC DESK*/

  /*DENUNCIAR*/
  div#denunciar-modal-desk.modal.open {
    border-radius: 15px 15px;
    border: #7C6FBF 5px solid;
    width: 30%;
  }

  #btn_fechar_modal_denunciar_desk {
    width: 12%;
    margin-left: 92%!important;
    margin-top: -4%!important;
  }

  #denunciar-modal-desk h6 {
    display: grid;
    gap: 0.8em;
    grid-template-columns: 20% 20%;
    margin-left: -3%;
  }

  #denunciar-modal-desk p {
    font-family: 'Muli';
    margin-top: -30%;
    font-size: 120%;
  }

  #img_denunciar_desk {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
    margin-top: -50%;
    margin-left: 30%;
  }


  /*AVALIAR*/

  div#avaliar-modal-desk.modal.open {
    border-radius: 15px 15px;
    border: #7C6FBF 5px solid;
    width: 30%;
    height: 40%;
  }

  #btn_fechar_modal_avaliar_desk {
    width: 12%;
    margin-left: 85%!important;
    margin-top: 2%!important;
  }

  #avaliar-modal-desk h6 {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 20% 70%;
    margin-left: -3%;
  }

  #avaliar-modal-desk p {
    font-family: 'Muli';
    font-size: 120%;
    text-align: center;
  }

  #img_avaliar_desk {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
    margin-left: 90%;
    margin-top: -20%;
  }

  #div_estrela_desk {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 10% 10% 10% 10% 10%;
    border: 3px solid #706f7896;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    padding: 3% 0% 2% 8%;
  }

  #div_estrela_desk img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
  }

  #div_estrela_desk p {
    display: none;
  }


  /*FINAL MODAL DENTRO DO MODAL "DENUNCIAR", "FAVORITAR", ETC DESK*/

  /*BOTÃO SALVAR*/
  #btn_salvar_desk {
    position: absolute;
    font-size: 75%;
    font-family: 'Muli';
    width: 10%;
    height: 6%;
    background-color: #FFBC2B;
    border-radius: 40px 40px;
    top: 89%;
    left: 69%;
  }

  #documento-nome-php{
    font-family: 'Muli';
    text-align: center;
    font-size: 1.2em;
    margin-top: -2%;
  }

  #form-documento{
    width: 120%;
  }



  @media (min-width: 1300px)  {

    #btn_addquest_desk {
      width: 70%;
      height: 80px;
      margin-left: 10%;
    }

    #documento1_desk #quadrado_desk {
      height: 60%;
      top: 28%;
    }

    #nome_documento_desk {
      margin-top: -1%;
    }

    #gabarito_desk #quadrado_desk {
      height: 60%;
      top: 28%;
    }

    #título_gabarito_desk {
      margin-left: 23%;
    }

    #btn_documento_desk {
      left: 10%;
    }

    #btn_salvar_desk {
      left: 66.5%;
    }

    #engrenagem_desk {
      margin-left: 0%;
      width: 90%;
    }

    #eng {
      width: 30%!important;
    }

    #btn-teste_desk {
      margin-left: -150%!important;
    }

    #quest_profs_desk {
      width: 390%;
    }
  }

  @media (min-width: 1600px) {
    #btn-teste_desk {
      margin-left: -145%!important;
      margin-top: 48%!important;
    }

    #btn-teste_desk {
      width: 60%;
    }

    #quest_profs_desk {
      width: 470%;
    }

    #filtro_parte1_desk {
      left: 55%;
    }

    #filtro_parte2_desk {
      left: 55%;
    }
  }

  @media (min-width: 1800px) {

    div#engrenagem-modal_desk.modal.open{
      border-radius: 15px 15px;
      border: #7C6FBF 5px solid;
      width: 25%;
    }

    #btn-teste_desk {
      margin-left: -140%!important;
      margin-top: 47%!important;
    }

    #btn-teste_desk {
      width: 57%;
    }

    #quest_profs_desk {
      width: 530%;
    }

    #filtro_parte1_desk {
      left: 56%;
    }

    #filtro_parte2_desk {
      left: 56%;
    }
  }

/*FINAL FORMATAÇÃO COMPUTADOR*/


/*FORMATAÇÃO CELULAR*/

/*JAVASCRIPT CEL*/
  #gabarito, #add_questoes, #divTeste { display: none; }

  #documento1 {display: block;}

  #documento1:checked, #gabarito:checked, #add_questoes:checked, #divTeste:checked { z-index: auto; }

  .documento1, .gabarito, .add_questoes, .divTeste { display: none; }


/*FUNCIONA EM TUDO: DOCUMENTO CEL*/
  html {
    width: 81%;
    }

  #nome_documento {
    position: absolute;
    margin-top: -7%;
    margin-left: 10%;
    width: 80%;
    padding-left: 1%;
    padding-right: 1%;
    text-overflow: ellipsis;
  }

  #documento1 #quadrado {
    position: absolute;
    width: 83%;
    height: 52%;
    margin-left: 5.7%;
    top: 23%;
    border-radius: 20px 20px;
    border: 1px solid #6363638c;
    padding: 5% 5% 5% 5%;
  }

  #btn_salvar {
    position: absolute;
    font-size: 75%;
    padding-top: 0.5%;
    padding-bottom: 10%;
    font-family: 'Muli';
    width: 30%;
    background-color: #FFBC2B;
    border-radius: 40px 40px;
    top: 78%;
    left: 35.5%;
  }

  #seta_esquerda {
    position: absolute;
    top: 79%;
    left: 14%;
  }

  #seta_direita {
    position: absolute;
    left: 76%;
    top: 79%;
  }

  #rodape {
    background-color: white;
    height: 11%;
    box-shadow: 0px 0px 10px 1px gray;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

   #rodape ul{
    display: grid;
    gap: 3em;
    grid-template-columns: 25% 25% 25%;
    margin-left: -2%;
    margin-top: -2.5%;
  }


  /*FUNCIONA EM TUDO: GABARITO CEL*/

  #título_gabarito {
    color: #706f78;
    margin-top: -4%;
    margin-left: 25%;
    font-family: 'Muli';
    font-size: 200%;
  }

  #gabarito #quadrado {
    position: absolute;
    width: 83%;
    height: 52%;
    margin-left: 5.8%;
    top: 23%;
    border-radius: 20px 20px;
    border: 1px solid #6363638c;
    padding: 5% 5% 5% 5%;
  }

  #btn_salvar2 {
    position: absolute;
    font-size: 75%;
    padding-top: 0.5%;
    padding-bottom: 10%;
    font-family: 'Muli';
    width: 30%;
    background-color: #FFBC2B;
    border-radius: 40px 40px;
    top: 78%;
    left: 35.5%;
  }

  #seta_esquerda2 {
    position: absolute;
    top: 79%;
    left: 14%;
  }

  #seta_direita2 {
    position: absolute;
    left: 76%;
    top: 79%;
  }

  /*FUNCIONA EM TUDO: ADD_QUESTÕES CEL*/

  #filtro_parte1 { /*matéria e tema*/
    position: absolute;
    display: grid;
    gap: 3em;
    grid-template-columns: 40% 40%;
    margin-left: 7%;
    top: 12%;
  }

  #filtro_parte2 { /*subtema e modalidade*/
    position: absolute;
    display: grid;
    gap: 3em;
    grid-template-columns: 40% 40%;
    top: 65%;
  }

  #filtro_parte3 { /*dificuldade e origem*/
    position: absolute;
    display: grid;
    gap: 3em;
    grid-template-columns: 40% 40%;
    top: 130%;
  }

  #filtro_parte4 { /*favoritos e minhas questões*/
    display: grid;
    gap: 4.8em;
    grid-template-columns: 40% 60%;
    margin-left: 9%;
    margin-top: 60%;
  }

  #título_addquest {
    margin-left: 29%;
    width: 80%;
    margin-top: 10%;
    font-family: 'Muli';
    color: #706f78;
  }

  #scroll {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 30%;
    top: 55%;
    display: grid;
    gap: 1em;
    grid-template-columns: 20% 62% 10% 15%;
  }

  #quest_profs {
    margin-top: 5%;
    margin-left: -25%;
    width: 250%;
    height: 72%;
    font-size: 120%;
    color: black;
    border-radius: 10px 10px;
    border: 1px solid #706f78;
    padding: 5% 5% 5% 5%;
    overflow: auto;
  }

  #foto_prof {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
    margin-top: 12%;
    margin-left: 10%;
  }

  #engrenagem {
    width: 70%;
    margin-top: 20%;
  }

  #addquest_documento {
    margin-left: 5%;
    width: 100%;
  }

  #btn_fechar_modal {
  width: 12%;
  margin-left: 89%;
  margin-top: -15%;
  }

  #btn-teste { /*botão que o wendel pediu, ele é rosa*/
    width: 66%;
    margin-left: -95%;
    box-shadow: none;
  }

  #add {
    width: 600%;
    left: -400%;
  }

  #btn_addquest{
    width: 90%;
    height: 80px;
    padding-top: 2.5%;
    border-radius: 20px 20px;
    display: grid;
    gap: 2em;
    grid-template-columns: 20% 60%;
  }

  #img_addquest {
    width: 110%;
    margin-top: 50%;
    margin-left: 20%;
  }

  #palavra_addquestao {
    color: #59595b;
    font-family: 'Muli';
    font-size: 80%;
    margin-top: 17%;
    margin-left: -6%;
  }

  div#engrenagem-modal.modal.open {
    border-radius: 15px 15px;
    border: #7C6FBF 5px solid;
  }

  /*MODAL DENTRO DO MODAL "DENUNCIAR", "FAVORITAR", ETC*/

  /*DENUNCIAR*/
  div#denunciar-modal.modal.open {
    border-radius: 15px 15px;
    border: #7C6FBF 5px solid;
    width: 80%;
  }

  #btn_fechar_modal_denunciar {
    width: 12%;
    margin-left: 95%!important;
    margin-top: -4%!important;
}

  #denunciar-modal h6 {
    display: grid;
    gap: 0.8em;
    grid-template-columns: 20% 20%;
    margin-left: -3%;
  }

  #denunciar-modal p {
    font-family: 'Muli';
    margin-top: -30%;
    font-size: 120%;
  }

  #img_denunciar {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
    margin-top: -60%;
  }

  /*#descrição {
    resize: none;
    box-shadow: none;
    border-radius: 10px 10px;
    margin-top: 10%;
    width: 100%;
    height: 70px;
    padding: 5%;
    border-color: #acacac;
  }

  #descrição:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }*/

  /*AVALIAR*/

  div#avaliar-modal.modal.open {
    border-radius: 15px 15px;
    border: #7C6FBF 5px solid;
    width: 80%;
    height: 40%;
  }

  #btn_fechar_modal_avaliar {
    width: 12%;
    margin-left: 85%!important;
    margin-top: 2%!important;
  }

  #avaliar-modal h6 {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 20% 70%;
    margin-left: -3%;
  }

  #avaliar-modal p {
    font-family: 'Muli';
    font-size: 120%;
    text-align: center;
  }

  #img_avaliar {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
    margin-left: 50%;
    margin-top: -30%;
  }

  #div_estrela {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 10% 10% 10% 10% 10%;
    border: 3px solid #706f7896;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    padding: 3% 0% 2% 3.5%;
  }

  #div_estrela img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
  }

  #div_estrela p {
    display: none;
  }


  /*FINAL MODAL DENTRO DO MODAL "DENUNCIAR", "FAVORITAR", ETC*/

  /*TRANSIÇÃO: MUDAR A QUESTÃO P/ RESPOSTA CEL*/
  .flip-container {
    width: 100px;
    height: 100px;
    perspective: 1000px;
  }

  .front, .back{
    position: absolute;

  }

  .back{
    transform: rotateY(180deg);
  }

  .front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  #switch:checked ~ .flip-container .flipper {
    transform: rotateY(180deg);
  }

  .flipper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  #switch{
      display: none;
  }
  /*FINAL TRANSIÇÃO: MUDAR A QUESTÃO P/ RESPOSTA CEL*/


  /*MUDAR CORES DAS BORDAS DO TEXTAREA E DO INPUT*/
  .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 1)!important;
  }

  input{
    border-bottom: 1px solid #d1d1d1!important;
    -webkit-box-shadow: 0 1px 0 0 #d1d1d1!important;
    box-shadow: 0 1px 0 0 #d1d1d1!important;
  }
  /*FINAL DAS CORES DAS BORDAS DO TEXTAREA E DO INPUT*/


  /*CÓDIGOS PARA MUDAR A FORMATAÇÃO DAS CORES DOS CAMPOS DO MATERIALIZE*/
  .select-dropdown li.optgroup>span {
      color: rgba(0,0,0,0.4)!important;
  }

  .dropdown-content li>span {
    color: #7C6FBF!important;
  }

  .select-dropdown li.disabled>span {
    color: rgba(0,0,0,0.4)!important;
  }

  .select-wrapper input.select-dropdown {
    color: #d1d1d1;
  }
  /*CÓDIGOS PARA MUDAR A FORMATAÇÃO DAS CORES DOS CAMPOS DO MATERIALIZE FINAL*/

  /*FINAL FORMATAÇÃO CELULAR*/


/*Dashboard para o celular*/
#dashboardcel{
  background-color: #8579C3;
  width: 123.5%;
}

a {
  border-radius: 10px 10px;
}

#logocel{
  width: 80%;
  float: right;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: -30%;
}

#nomelogocel {
  width: 100%;
  float: right;
  margin-top: 25%;
  margin-bottom: 25%;
  margin-right: -40%;
}

.material-icons {
  color: white;
  margin-top: 56%;
  margin-bottom: 54%;
  margin-left: 35%;
  font-size: 80px;
}

#logo {
  width: 60%;
  position: absolute;
  margin-left: 13%;
  margin-top: 15%
}

#links_menucel {
  position: absolute;
  margin-top: 100%;
}

#divider {
  margin-left: 0%;
  width: 100%;
  margin-top: 0px;
}

#saves,
#document,
#question,
#perfil {
  font-family: 'Muli';
  font-size: 120%;
  height: 5%;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}

#amarelo_pequeno {
  position: absolute;
  margin-left: -8%;
  margin-top: -8%;
}

#roxo {
  position: absolute;
  margin-left: 81.5%;
  margin-top: 60%;
}

#roxo_claro {
  position: absolute;
  margin-left: -10%;
  margin-top: 200%;
}

#amarelo_grande {
  position: absolute;
  margin-left: 62%;
  margin-top: 240%;
  width: 30%;
}

#sair {
  font-family: 'Muli';
  font-size: 100%;
  position: absolute;
  margin-top: 15%;
  color: #DD636E;
  margin-left: 50%;
}

#sair2 {
  color: #DD636E;
  margin-left: -100%;
  margin-top: 40%;
  position: absolute;
}


@media (min-width: 400px){

  /*RESPONSIVIDADE TELA ADD DOCUMENTO*/
  #rodape ul {
    margin-left: 4%;
    margin-top: -0.5%;
  }

  #nome_documento {
    margin-top: -2%;
    margin-left: 21%;
    width: 80%;
  }

  #título_gabarito {
      margin-top: 0%;
      margin-left: 25%;
  }

  #quest_favorito, #my_quest {
    font-size: 120%!important;
  }

  #título_addquest {
    margin-top: 8%;
  }

  #img_addquest {
    margin-top: 25%;
  }

  #palavra_addquestao {
    margin-top: 10%;
}
/*RESPONSIVIDADE TELA ADD DOCUMENTO*/

  #logo {
    width: 60%;
    position: absolute;
    margin-left: 13%;
    margin-top: 30%
  }

  #links_menucel {
    position: absolute;
    margin-top: 100%;
  }

  #saves,
  #document,
  #question,
  #perfil {
    font-family: 'Muli';
    line-height: 400%;
    font-size: 120%;
    height: 5%;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }

  #roxo_claro {
    position: absolute;
    margin-left: -10%;
    margin-top: 240%;
  }

  #amarelo_grande {
    position: absolute;
    margin-left: 62%;
    margin-top: 280%;
  }

}


/*Dashboard para o computador*/

#retanguloroxo {
  -webkit-filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.3));
}

#nav-pc{
  margin-right: 27%;
  font-family: 'muli';
  margin-top: 5.5%;
  height: 50%;
}

#questao{
  margin-top: -3.25%;
  line-height: 25px;
  text-align: center;
  font-size: 19px;
  position: absolute;
  margin-left: -44%;

}

#documento{
  margin-top: -3.25%;
  line-height:25px;
  text-align: center;
  font-size: 19px;
  position: absolute;
  margin-left: -27.6%;
}

#salvos{
  margin-top: -3.75%;
  text-align: center;
  font-size: 20px;
  position: absolute;
  margin-left: -10%;
}

#linha1{
  height: 65%;
  margin-top: -4%;
  position: absolute;
  margin-left: -30%;
}

#linha2{
  height: 65%;
  margin-top: -4%;
  position: absolute;
  margin-left: -13%;
}

#dashboardpc{
  background-color: #8579C3;
  height: 150%;
  width: 123.5%;
}

#logopc{
  width: 8%;
  margin-top: 0.745%;
  margin-bottom: 1%;
  margin-left: 2%;
}

#nomelogopc {
  position: absolute;
  width: 14%;
  margin-top: 3%;
  margin-bottom: 5.5%;
}

#perfil_pequeno {
  margin-left: 85%;
  margin-top: -8%;
  color: red;
  font-family: 'Muli';
  font-size: 20px;
}

#nome-dashboard{
  color: white;
  margin-top: -2.7%;
  margin-left: 1%;
  position: absolute;
}

#foto_perfil_pequeno {
  max-width: 5%;
  max-height: 43%;
  width: auto;
  height: auto;
  left: 79%;
  margin-top: -2%;
  position: absolute;
}

@media (min-width: 1100px)
{
  #nav-pc{
    margin-right: 27%;
    font-family: 'muli';
    margin-top: 4.7%;
    height: 50%;
}
    #logopc {
      width: 8%;
      margin-top: 0.5%;
      margin-bottom: 1%;
      margin-left: 2%;
    }

    #nomelogopc {
      width: 12%;
      margin-top: 3%;
      margin-bottom:5%;
    }

    #questao{
      line-height:25px;
      text-align: center;
      font-size: 20px;
      position: absolute;
      margin-left: -45%;

    }

    #documento{
      line-height:25px;
      text-align: center;
      font-size: 20px;
      position: absolute;
      margin-left: -27%;
    }

    #salvos{
      text-align: center;
      font-size: 20px;
      position: absolute;
      margin-left: -6%;
    }

    #linha1{
      margin-top: -3%;
      position: absolute;
      margin-left: -31%;
    }

    #linha2{
      margin-top: -3%;
      position: absolute;
      margin-left: -10%;
    }

    #nome-dashboard{
      color: white;
      margin-top: -2.7%;
      margin-left: 2%;
      position: absolute;
    }

    #foto_perfil_pequeno {
      max-width: 7%;
      max-height: 45%;
      width: auto;
      height: auto;
      left: 79%;
      margin-top: -3%;
      position: absolute;
    }
}

@media (min-width: 1200px)
{
  #perfil1 {
    width: 6%;
    height: 70%;
    position: absolute;
    margin-left: 7%;
    margin-top: -3.5%;
  }

  #nome {
    position: absolute;
    width: 10%;
    margin-top: -1.5%;
    margin-bottom: 5.5%;
    margin-left: 15%;
  }

  #logopc {
    width: 6%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
  }

  #nomelogopc {
    width: 10%;
    margin-top: 3%;
    margin-bottom:5%;
  }

  #questao{
    line-height:25px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -43%;

  }

  #documento{
    line-height: 25px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -26%;
  }

  #salvos{
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -8%;
  }

  #linha1{
    margin-top: -3%;
    position: absolute;
    margin-left: -30%;
  }

  #linha2{
    margin-top: -3%;
    position: absolute;
    margin-left: -11%;
  }

  #nome-dashboard{
    color: white;
    margin-top: -2%;
    margin-left: 2%;
    position: absolute;
  }

  #foto_perfil_pequeno {
    max-width: 7%;
    max-height: 45%;
    width: auto;
    height: auto;
    left: 79%;
    margin-top: -2.5%;
    position: absolute;
  }

}

@media (min-width: 1300px)
{
  #logopc{
    width: 6%;
    margin-top: 0.6%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  #nomelogopc {
    position: absolute;
    width: 10%;
    margin-top: 2.5%;
    margin-bottom: 5.5%;
  }

  #nav-pc{
    margin-right: 33%;
    font-family: 'muli';
    margin-top: 4.0%;
    height: 50%;
  }

  #questao{
    line-height:25px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -42%;
    margin-top: -2.5%;
  }

  #documento{
    line-height:25px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -23%;
    margin-top: -2.5%;
  }

  #salvos{
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: -4%;
    margin-top: -2.5%;
  }

  #linha1{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -28%;
    width: 0.2%;
  }

  #linha2{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -8%;
    width: 0.2%;
  }

  #nome-dashboard{
    color: white;
    margin-top: -0.5%;
    margin-left: 0%;
    position: absolute;
  }

  #foto_perfil_pequeno {
    max-width: 7%;
    max-height: 45%;
    width: auto;
    height: auto;
    left: 77%;
    margin-top: -1%;
    position: absolute;
  }

}

@media (min-width: 1600px)
{
  #nav-pc{
    margin-right: 34%;
    font-family: 'muli';
    margin-top: 3.5%;
    height: 50%;
  }

  #logopc{
    width: 5.5%;
    margin-top: 0.4%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  #nomelogopc {
    width: 9%;
    margin-top: 2%;
    margin-bottom:4.5%;
  }

  #questao{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -40%;

  }

  #documento{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -23%;
  }

  #salvos{
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -4.5%;
  }

  #linha1{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -27%;
  }

  #linha2{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -9%;
  }

  #nome-dashboard{
    color: white;
    margin-top: 0.2%;
    margin-left: 0%;
    position: absolute;
    font-size: 120%;
  }

  #foto_perfil_pequeno {
    max-width: 5%;
    max-height: 50%;
    width: auto;
    height: auto;
    left: 78%;
    margin-top: 0.2%;
    position: absolute;
  }
}

@media (min-width: 1800px)
{
  #nav-pc{
    margin-right: 34%;
    font-family: 'muli';
    margin-top: 3.5%;
    height: 50%;
  }

  #logopc{
    width: 5%;
    margin-top: 0.1%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  #nomelogopc {
    width: 8%;
    margin-top: 1.6%;
    margin-bottom:4.5%;
  }

  #questao{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -39%;

  }

  #documento{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -23.5%;
  }

  #salvos{
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -5.5%;
  }

  #linha1{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -28%;
  }

  #linha2{
    margin-top: -2.5%;
    position: absolute;
    margin-left: -10%;
  }

  #nome-dashboard{
    color: white;
    margin-top: 1.2%;
    margin-left: 0%;
    position: absolute;
    font-size: 120%;
  }

  #foto_perfil_pequeno {
    max-width: 5%;
    max-height: 50%;
    width: auto;
    height: auto;
    left: 78%;
    margin-top: 1.2%;
    position: absolute;
  }
}

@media (min-width: 1920px)
{
  #nav-pc{
    margin-right: 34%;
    font-family: 'muli';
    margin-top: 3.5%;
    height: 50%;
  }

  #logopc{
    width: 5%;
    margin-top: 0.1%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  #nomelogopc {
    width: 8%;
    margin-top: 1.6%;
    margin-bottom:4.5%;
  }

  #questao{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -39%;

  }

  #documento{
    line-height:25px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -23.5%;
  }

  #salvos{
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin-left: -5.5%;
  }

  #linha1{
    width: 0.1%;
    margin-top: -2.5%;
    position: absolute;
    margin-left: -28%;
  }

  #linha2{
    width: 0.1%;
    margin-top: -2.5%;
    position: absolute;
    margin-left: -10%;
  }

  #nome-dashboard{
    color: white;
    margin-top: 1.2%;
    margin-left: 0%;
    position: absolute;
    font-size: 120%;
  }

  #foto_perfil_pequeno {
    max-width: 5%;
    max-height: 50%;
    width: auto;
    height: auto;
    left: 78%;
    margin-top: 1.2%;
    position: absolute;
  }
}
