/* RESET DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Dashboard para o celular*/
#dashboardcel{
  background-color: #8579C3;
}

#logocel{
  width: 80%;
  float: right;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: -30%;
}

#nomelogocel {
  width: 100%;
  float: right;
  margin-top: 25%;
  margin-bottom: 25%;
  margin-right: -40%;
}

#menucel{
  width: 60%;
  margin-top: 56%;
  margin-bottom: 54%;
  margin-left: 35%;
}


/*Dashboard para o computador*/

#nav-pc{
  margin-right: 27%;
  font-family: muli;
  margin-top: 5.5%;
  height: 50%;
}

#questao{
  line-height:25px;
  text-align: center;
  font-size: 20px;
}

#documento{
  line-height:25px;
  text-align: center;
  font-size: 20px;
}

#salvos{
  text-align: center;
  font-size: 20px;
}

#linha1{
  margin-top: -200%;
}

#linha2{
  margin-top: -200%;
}

#dashboardpc{
  background-color: #8579C3;
  height: 250%;
}

#logopc{
  width: 13%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 2%;
}

#nomelogopc {
  width: 17%;
  margin-top: 4.5%;
  margin-bottom: 5.5%;
}

@media (min-width: 1100px)
{
  #nav-pc{
    margin-right: 27%;
    font-family: muli;
    margin-top: 4.7%;
    height: 50%;
  }
}

@media (min-width: 1300px)
{
  #nav-pc{
    margin-right: 33%;
    font-family: muli;
    margin-top: 4.0%;
    height: 50%;
  }
}


@media (min-width: 1600px)
{
  #nav-pc{
    margin-right: 34%;
    font-family: muli;
    margin-top: 3.5%;
    height: 50%;
  }
}

@media (min-width: 1800px)
{
  #nav-pc{
    margin-right: 37%;
    font-family: muli;
    margin-top: 3%;
    height: 50%;
  }
}
