/* RESET DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*CÓDIGO GERAL DO SITE (tanto para pc quanto celular)*/

/*corpo*/
body {
  background: linear-gradient(to bottom, #9684D3, #9785D3, #b49fd9, #E3C7E3, #E3C7E3, #ead1c6, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #E3C7E3, #E3C7E3, #9684D3, #9684D3);
  height: 340vh;
  width: auto;
  font-size: 30px;
}

/*CÓDIGO GERAL P/ CELULAR*/

/*SEÇÃO 1*/
/*imagem da logo p/ celular*/
#img-logo {
  width: 60%;
  margin-left: 11%;
  -webkit-filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.16));
}
/*botão login*/
#login {
  color: white;
  float: right;
  width: 100%;
  height: 3em;
  font-size: 70%;
  font-family: 'Muli';
  border-radius: 40px 40px;
  padding-top: 6%;
  margin-top: 10%;
}
/*botão cadastre-se*/
#cadastre-se {
  color: white;
  float: right;
  width: 100%;
  height: 3em;
  font-size: 70%;
  font-family: 'Muli';
  border-radius: 40px 40px;
  padding-top: 6%;
  margin-top: 10%;
}
/*grid da logo com os botões*/
#grid-secao-1 {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 45% 20% 20%;
  margin-top: 7%;
}
/*frases da seção 1*/
#frases-secao-1 {
  margin-left: 7%;
  color: white;
  margin-right: 7%;
}
/*frase principal da seção 1*/
#secao-1 h1{
  font-size: 2.7em;
}

/*SEÇÃO 2*/
/*seção que abrange a seção 2*/
#texto-secao2roxo{
  margin-top: 5em;
}
/*imagem*/
#conjuntoroxo{
  width: 45%;
}
/* Retângulozinho roxo que antecede a frase */
#roxo {
  width: 2.5%;
  margin-top: 14%;
  margin-left: 2%;
  float: right;
}
/*frase depois do retângulozinho*/
#texto-secao2roxo h4 {
  font-family: 'Muli';
  float: right;
  margin-left: 2%;
  margin-right: 10%;
  margin-top: 14%;
  width: 36%;
  font-size: 1.5em;
  color: #393838;
}
/*frase abaixo do retângulozinho*/
#texto-secao2roxo h5 {
  color: #707070;
  font-family: 'Muli';
  line-height: 1.3em;
  font-size: 1.3em;
  margin-left: 20%;
  margin-top: -13%;
  width: 80%;
}

#comeceja a {
  text-decoration: none;
  border-radius: 80px 80px;
  color: white;
  font-family: 'Muli';
  font-size: 1em;
  border-style: none;
  margin-left: 35%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 6.5%;
  margin-top: 4%;
  width: 30%;
}


/*RESPONSIVIDADE CELULAR*/




/*CÓDIGO GERAL P/ COMPUTADOR*/




/*RESPONSIVIDADE COMPUTADOR*/
