/* RESET DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*CÓDIGO GERAL DO SITE (tanto para pc quanto celular)*/

/*corpo*/
body {
  background: linear-gradient(to bottom, #9684D3, #9785D3, #b49fd9, #E3C7E3, #ead1c6, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #E3C7E3, #E3C7E3, #9684D3, #9684D3);
  height: 400vh;
  width: auto;
  font-size: 30px;
}
/*BOTÕES COMECE JÁ*/
  a {
  text-decoration: none;
  border-radius: 80px 80px;
  color: white;
  font-family: 'Muli';
  font-size: 1em;
  border-style: none;
  margin-left: 36%;
  margin-top: 10%;
  padding-left: 6.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 30%;
}

/*CÓDIGO GERAL P/ CELULAR*/

/*SEÇÃO 1*/
/*imagem da logo p/ celular*/
.img-logo {
  width: 60%;
  margin-left: 11%;
  -webkit-filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.16));
}
/*botão login*/
.login {
  color: white;
  float: right;
  width: 100%;
  height: 3em;
  font-size: 70%;
  font-family: 'Muli';
  border-radius: 40px 40px;
  padding-top: 6%;
  margin-top: 10%;
}
/*botão cadastre-se*/
.cadastre-se {
  color: white;
  float: right;
  width: 100%;
  height: 3em;
  font-size: 70%;
  font-family: 'Muli';
  border-radius: 40px 40px;
  padding-top: 6%;
  margin-top: 10%;
}
/*grid da logo com os botões*/
.grid-secao-1 {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 45% 20% 20%;
  margin-top: 7%;
  margin-right: 5%;
}
/*frases da seção 1*/
.frases-secao-1 {
  margin-left: 7%;
  color: white;
  margin-right: 7%;
}
/*frase principal da seção 1*/
.secao-1 h1{
  font-size: 2.7em;
}

/*SEÇÃO 2 - Parte roxa*/
/*seção que abrange a seção 2*/
.texto-secao2roxo{
  margin-top: 5em;
}
/*imagem*/
.conjuntoroxo{
  width: 45%;
}
/*Retângulozinho roxo que antecede a frase*/
.roxo {
  width: 2.5%;
  margin-top: 14%;
  margin-left: 2%;
  float: right;
}
/*frase depois do retângulozinho*/
.texto-secao2roxo h4 {
  font-family: 'Muli';
  float: right;
  margin-left: 2%;
  margin-right: 10%;
  margin-top: 14%;
  width: 36%;
  font-size: 1.5em;
  color: #393838;
}
/*frase abaixo do retângulozinho*/
.texto-secao2roxo p {
  color: #707070;
  font-family: 'Muli';
  line-height: 1.3em;
  font-size: 1.3em;
  float: right;
  margin-right: 6%;
  margin-top: -13%;
  width: 70%;
}

/*SEÇÃO 2 - Parte amarela*/
/*seção que abrange a seção 2*/
.conjuntoamarelo {
  float: right;
  width: 45%;
}
/*Retângulozinho roxo que antecede a frase*/
.amarelo{
  float: left;
  width: 2.5%;
  margin-left: 6%;
  margin-top: 15%;
}
/*frase depois do retângulozinho*/
.texto-secao2amarelo h4 {
  font-family: 'Muli';
  font-size: 1.5em;
  margin-left: 11%;
  padding-top: 15%;
  color: #393838;
  width: 41%;
}
/*frase abaixo do retângulozinho*/
.texto-secao2amarelo p {
  color: #707070;
  font-family: 'Muli';
  line-height: 1.3em;
  font-size: 1.3em;
  width: 75%;
  margin-top: 9.5%;
  margin-left: 7%;
  position: absolute;
}
/*Botão comece já seção amarela*/
.comeceja2 a {
  background-color: #9684D3;
  margin-top: 20%;
}

/*SEÇÃO 3*/
/*as 3 imagens dos quadrados brancos*/
.branco1 img,
.branco2 img,
.branco3 img{
  width: 30%;
  /* superior | direita | inferior | esquerda */
  margin: -10% 0% 0% 1%;
}
/*os quadrados brancos*/
.white{
  /* superior | direita | inferior | esquerda */
  margin: 20% 10% 1% 10%;
  padding: 0% 2% 7% 2%;
}
/*título dos quadrados brancos*/
.white h1{
  text-align: center;
  font-size: 1.7em;
  font-family: 'Muli';
}
/*texto dos quadrados brancos*/
.white p{
  text-align: center;
  color: #707070;
  font-size: 1.3em;
  font-family: 'Muli';
}
/*botão comece já roxo*/
.parteamarela a{
  padding-right: 6%;
  background-color: #9684D3;
  margin-bottom: 10%;
}

/*SEÇÃO 4 CELULAR*/
.logo-sombra { width: 30%; }
.bolinhas-esquerda1 { width: 35%; }

.bolinhas-direita1 {
  width: 30%;
  float: right;
}

.bolinhas-direita2{float: right;}

.textobolinhas h1{
  color: #635963;
  font-family: 'Muli';
  font-size: 1.7em;
  margin: 10% 0% 5% 8%;
}

.quadradoamarelotutorial{
  -webkit-filter: drop-shadow(-10px -10px 8px rgba(0, 0, 0, 0.2));
  width: 450px;
  height: 350px;
  border: 7px solid whitesmoke;
  margin-left: 15%;
}

.quadradoroxotutorial{
 -webkit-filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.3));
 width: 450px;
 height: 350px;
 border: 7px solid whitesmoke;
 /* superior | direita | inferior | esquerda */
 margin: -25% 0% 0% 42%;
 background-color: #7C70BF;
}

.tutorial h1{
 color: whitesmoke;
 font-family: 'Muli';
 font-size: 1.2em;
 margin-left: 4%;
 position: relative;
}

.bolinhas-esquerda2, .bolinhas-direita2 {
 width: 25%;
}

.secao4 a{
 font-size: 1em;
 width: 30%;
 margin-left: 9%;
 margin-top: -10%;
 padding-top: 2%;
 padding-bottom: 2%;
}

.video-container{
 -webkit-filter: drop-shadow(8px 12px 8px rgba(0, 0, 0, 0.3));
 width: 60vw;
 left: 20%;
 margin-top: -20%;
}


/*RESPONSIVIDADE CELULAR*/




/*CÓDIGO GERAL P/ COMPUTADOR*/




/*RESPONSIVIDADE COMPUTADOR*/
