/* RESET DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*IMPORTANTE POIS MUDA A BORDA LATERAL DO SITE TD */
  /*#9684D3, #9785D3, #E3C7E3, #F8E197, #F8E197, #E3C7E3, #9785D3*/
  background: linear-gradient(to bottom, #9684D3, #9785D3, #9785D3, #9785D3, #E3C7E3, #E3C7E3, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #E3C7E3, #E3C7E3, #9684D3, #9684D3);
  font-family: Arial;
  height: 340vh;
  width: auto; /* 100% da largura da tela do usuário (mas não ta indo kk) */
  font-size: 30px;
}

/*RESPONSIVIDADE COMPUTADOR*/
@media(min-width: 990px){

  body {
    /*IMPORTANTE POIS MUDA A BORDA LATERAL DO SITE TD */
    /*#9684D3, #9785D3, #E3C7E3, #F8E197, #F8E197, #E3C7E3, #9785D3*/
    background: linear-gradient(to bottom, #9684D3, #9785D3, #9785D3, #E3C7E3, #E3C7E3, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #F8E197, #E3C7E3, #E3C7E3, #9684D3, #9684D3);
    font-family: Arial;
    height: 340vh;
    width: auto; /* 100% da largura da tela do usuário (mas não ta indo kk) */
    font-size: 30px;
  }

  /* SEÇÃO 1 COMPUTADOR*/
  a {
    text-decoration: none;
    border-radius: 80px 80px;
    color: whitesmoke;
    font-family: 'Muli';
    border-style: none;
    text-align: center;
    margin-right: 3%;
  }

  .login{
    margin-top: -15%;
    float: right;
    width: 12%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 4%;
  }

  .cadastrese{
      margin-top: -15%;
      width: 9%;
      float: right;
      padding-left: 2%;
      padding-right: 14%;
      padding-bottom: 1%;
      padding-top: 1%;
      margin-right: 18%;
  }

 .img-logo{
   width: 60%;
   -webkit-filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.16));
   filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.16));
 }

 .img-nome-logo{
   width: 60%;
   margin-left: -43%;
   margin-top: 22%;
 }

 .grid {
   display: grid;
   gap: 1em;
   grid-template-columns: 25% 25% ;
   font-size: 70%;
 }

 .icones{
     margin-left: 5%;
 }

 .icones img{
   width: 30%;
   float: right;
   margin-right: 5%;
   margin-top: -7%;
 }

 header h1, h2{
   font-family: 'Muli';
   color: whitesmoke;
   position: relative;
   line-height: 100%;
   top:10%;
 }

 .icones h1{
   font-size: 1.9em;
   top:-300%;
   width: 50%;
 }
 .icones h2 {
   margin-bottom: 15%;
   font-size: 0.9em;
 }

 /*SEÇÃO 2 COMPUTADOR*/
 .rectangle h2 {
   font-family: 'Muli';
   border-left: 6px solid #7569B8;
   border-right: 6px solid #7569B8;
   border-top: 6px solid #7569B8;
   border-bottom: 6px solid #7569B8;
   border-radius: 80px;
   background-color: whitesmoke;
   color: #49779D;
   text-align: center;
   line-height: 1.8em;
   font-size: 2em;
   padding-left: 0.2em;
   padding-right: 0.2em;
   padding-bottom: 0.6em;
   margin-top: 3em;
   margin-left: 1em;
   margin-right: 1em;
   margin-bottom: 6%;
 }

/*não esquecer de colocar @media no retângulo 1024 até 1440 px*/
  .texto-secao2roxo{
    margin-top: 15%;
  }

 .conjuntoroxo{
   position: relative;
   width: 40%;
 }

 .roxo {/* Retângulozinho roxo que antecede a frase */
   width: 1%;
   margin-top: 11.5%;
   float: right;
 }

 .texto-secao2roxo h4 {
   font-family: 'Muli';
   float: right;
   position: relative;
   margin-left: 1%;
   margin-right: 10%;
   margin-top: 11.5%;
   width: 36%;
   font-size: 1.3em;
   color: #707070;
 }

 .texto-secao2roxo h5 {
   color: #707070;
   font-family: 'Muli';
   line-height: 1.3em;
   font-size: 0.9em;
   margin-left: 52%;
   margin-top: -26.5%;
   width: 40%;
 }

 .comeceja{
   left: 20%;
 }

 .comeceja h3{
     color: #1F2967;
     font-family: 'Muli';
     font-size: 1.2em;
     margin-left: 36%;
     margin-top: 4.5%;
 }

 .comeceja a {
   text-decoration: none;
   border-radius: 80px 80px;
   color: whitesmoke;
   font-family: 'Muli';
   border-style: none;
   margin-left: 46%;
   position: relative;
   padding-left: 3%;
   padding-right: 3%;
   padding-top: 1%;
   padding-bottom: 1%;
 }

 .conjuntoamarelo {
   position: relative;
   left: 60%;
   margin-top: 8.5%;
   width: 40%;
 }

 .amarelo{
   float: left;
   width: 1%;
   margin-left: 8%;
 }

 .texto-secao2amarelo h4 {
   font-family: 'Muli';
   font-size: 1.3em;
   margin-left: 10%;
   margin-top: 4%;
   color: #707070;
   width: 40%;
 }

 .texto-secao2amarelo h5 {
   color: #707070;
   font-family: 'Muli';
   line-height: 1.3em;
   font-size: 0.9em;
   width: 40%;
   position: relative;
   margin-top: 2%;
   margin-left: 8%;
 }

  .textocentral2-secao2{
    color: #1F2967;
    font-family: 'Muli';
    font-size: 1.2em;
    margin-left: 25%;
    margin-top: 9%;
    width: 50%;
  }

 .comeceja2 a {
   text-decoration: none;
   border-radius: 80px 80px;
   color: whitesmoke;
   font-family: 'Muli';
   border-style: none;
   margin-left: 39%;
   margin-bottom: 10%;
   padding-left: 3%;
   padding-right: 3%;
   padding-top: 1%;
   padding-bottom: 1%;
   background-color: #9684D3;
 }

 /* SECAO 3 COMPUTADOR*/
 .parteamarela {
   height: 28%;s
 }

 .branco1 img,
 .branco2 img,
 .branco3 img{
   width: 30%;
   /* superior | direita | inferior | esquerda */
   margin: -10% 0% 0% 7%;
 }
 .white{
   /* superior | direita | inferior | esquerda */
   margin: 20% 0% 0% 10%;
 }
 .white h1{
   text-align: center;
   font-size: 1em;
 }
 .white p{
   text-align: center;
   color: #707070;
   font-family: 'Muli';
   font-size: 0.6em;
 }

 .parteamarela a{
   padding-top: 1%;
   padding-bottom: 1%;
   width: 15%;
   background-color: #9684D3;
   margin-top: 3%;
   margin-left: 42.3%;
 }

 /*SEÇÃO 4 COMPUTADOR*/
 .logo-sombra {
   width: 20%;
   margin-left: 14%;
 }

 .bolinhas-esquerda1 {
   width: 25%;
 }

 .bolinhas-esquerda2 {
   width: 20%;
   margin-top: 30%;
   }

 .bolinhas-direita1 {
   width: 22%;
   float: right;
 }

  .bolinhas-direita2{
    float: right;
    width: 20%;
    margin-top: 45%;
  }

 .textobolinhas h1{
   color: #635963;
   font-family: 'Muli';
   font-size: 1.5em;
    /* superior | direita | inferior | esquerda */
   margin: 7% 0% 2% 8%;
 }
 .quadradoamarelotutorial{
-webkit-filter: drop-shadow(-10px -10px 8px rgba(0, 0, 0, 0.2));
 width: 30vw;
 height: 40vh;
 border: 5px solid whitesmoke;
 margin-left: 20%;
 position: absolute;
}
.quadradoroxotutorial{
  background-color: #7C70BF;
  -webkit-filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.3));
  width: 35vw;
  height: 50vh;
  border: 5px solid whitesmoke;
  /* superior | direita | inferior | esquerda */
  margin: 7% 0% 0% 40%;
  position: absolute;
}
.tutorial h1{
  color: whitesmoke;
  font-family: 'Muli';
  font-size: 1.3em;
  margin-left: 4%;
  position: relative;
}

.tutorial a{
  width: 25%;
  margin-left: 16%;
  margin-top: -35%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.video-container{
  -webkit-filter: drop-shadow(8px 12px 8px rgba(0, 0, 0, 0.3));
  width: 40vw;
  left: 25%;
  margin-top: 15%;
  position: absolute;
}

/*SEÇÃO 5 COMPUTADOR*/
.rodape {
  width: 100%;
  height: 100%;
  border-top: whitesmoke solid;
  font-family: 'Muli';
  color: whitesmoke;
  margin-top: 10%;
}

.contatos{
  font-size: 0.77em;
  margin-left:-5%;
  margin-top: -30%;
  position: relative;
  margin-bottom: 2%;
}

.ajuda{
  font-size: 0.77em;
  width:70%;
  margin-top: -30%;
  position: relative;
  margin-bottom: 2%;
}

.saibasobre{
  font-size: 0.77em;
  width: 100%;
  margin-left: -25%;
  margin-top: -30%;
  position: relative;
  margin-bottom: 2%;
}

.pcontatos{
  font-size: 0.65em;
  position: relative;
  margin-top: 20%;
  margin-left: 15%;
  line-height: 14px;
  width: 94%;
}

.pajuda {
  font-size: 0.5em;
  position: relative;
  margin-top: 20%;
  margin-left: 5%;
  line-height: 14px;
  width: 94%;
}

.psaibasobre{
  font-size: 0.5em;
  margin-top: 10%;
  position: relative;
  margin-top: 20%;
  line-height: 14px;
  width: 94%;
}

.rodape img {
  margin-top: 2%;
  width: 0.9%;
}
}

/*RESPONSIVIDADE CELULAR*/
@media (max-width: 990px){
  /*SEÇÃO 1 CELULAR*/
.login{
     margin-top: -20%;
     float: right;
     width:20%;
     padding-bottom: 2%;
     padding-top: 2%;
     margin-left: 4%;
}

.cadastrese{
    margin-top: -20%;
    float: right;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-right: 30%;
}

.icones{
    margin-left: 5%;
}

.icones img{
  width:40%;
  float: right;
}

.icones h2 {
  margin-bottom: 15%;
  font-size: 1em;
}

.icones h1{
  font-size: 2em;
  top:-300%;
}
.img-logo { /* Imagem folhas saindo do computador*/
  -webkit-filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.16));
  width: 25%;
}
.img-nome-logo{
  margin-top: -10%;
}
header h1, h2{
  font-family: 'Muli';
  color: whitesmoke;
  position: relative;
  line-height: 100%;
  top:10%;
}

a {
  text-decoration: none;
  border-radius: 80px 80px;
  color: whitesmoke;
  font-family: 'Muli';
  border-style: none;
  text-align: center;
  margin-right: 3%;
}

/*SEÇÃO 2 CELULAR*/
.rectangle h2 {
  font-family: 'Muli';
  border: 3px solid #7569B8;
  border-radius: 20px;
  background-color: whitesmoke;
  color: #49779D;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 3em;
}

.conjuntoroxo{
  position: relative;
  width: 45%;
}

.roxo {/* Retângulozinho roxo que antecede a frase */
  width: 2.5%;
  margin-top: 14%;
  margin-left: 2%;
  float: right;
}
.texto-secao2roxo h4 {
  font-family: 'Muli';
  float: right;
  position: relative;
  margin-left: 2%;
  margin-right: 10%;
  margin-top: 14%;
  width: 36%;
  font-size: 0.8em;
  color: #707070;
}

.texto-secao2roxo h5 {
  color: #707070;
  font-family: 'Muli';
  line-height: 1.3em;
  font-size: 0.7em;
  margin-left: 20%;
  margin-top: -13%;
  width: 80%;
}

.comeceja{
  left: 20%;
}

.comeceja a {
  text-decoration: none;
  border-radius: 80px 80px;
  color: whitesmoke;
  font-family: 'Muli';
  border-style: none;
  margin-left: 35%;
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 4%;
  width: 30%;
}

.conjuntoamarelo {
  position: relative;
  left: 55%;
  margin-top: 5%;
  width: 45%;
}

.amarelo{
  float: left;
  width: 2.5%; /*não consigo colocar height, se conseguirem agradeço (nicole: só funciona no html)*/
  margin-left: 2%;
}

.texto-secao2amarelo h4 {
  font-family: 'Muli';
  font-size: 0.8em;
  margin-left: 7%;
  margin-top: 7%;
  color: #707070;
  width: 41%;
}

.texto-secao2amarelo h5 {
  color: #707070;
  font-family: 'Muli';
  line-height: 1.3em;
  font-size: 0.7em;
  width: 88%;
  position: relative;
  margin-top: 9.5%;
  margin-left: 10%;
}

.comeceja2 a {
  text-decoration: none;
  border-radius: 80px 80px;
  color: whitesmoke;
  font-family: 'Muli';
  border-style: none;
  margin-left: 35%;
  margin-top: 4%;
  margin-bottom: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #9684D3;
  width: 30%;
}

/* SECAO 3 CELULAR*/
.branco1 img,
.branco2 img,
.branco3 img{
  width: 30%;
  /* superior | direita | inferior | esquerda */
  margin: -10% 0% 0% 7%;
}
.white{
  /* superior | direita | inferior | esquerda */
  margin: 20% 0% 0% 10%;
}
.white h1{
  text-align: center;
  font-size: 1em;
}
.white p{
  text-align: center;
  color: #707070;
  font-family: 'Muli';
}

.parteamarela a{
  padding-top: 2%;
  padding-bottom: 2%;
  width: 35%;
  background-color: #9684D3;
  margin: 7% 0% 7% 32%;
}

 /*SEÇÃO 4 CELULAR*/
 .logo-sombra { width: 25%; }
 .bolinhas-esquerda1 { width: 35%; }
 .bolinhas-esquerda2 { margin-top: 60%; }

 .bolinhas-direita1 {
   width: 35%;
   float: right;}

.bolinhas-direita2{
  float: right;
  margin-top: 100%;}

 .textobolinhas h1{
   color: #635963;
   font-family: 'Muli';
   font-size: 1em;
   margin: 10% 0% 5% 8%;
 }
 .quadradoamarelotutorial{
-webkit-filter: drop-shadow(-10px -10px 8px rgba(0, 0, 0, 0.2));
 width: 50vw;
 height: 30vh;
 border: 5px solid whitesmoke;
 margin-left: 15%;
 position: absolute;
}
.quadradoroxotutorial{
  -webkit-filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.3));
  width: 50vw;
  height: 40vh;
  border: 5px solid whitesmoke;
  /* superior | direita | inferior | esquerda */
  margin: 10% 0% 0% 42%;
  position: absolute;
  background-color: #7C70BF;
}

.tutorial h1{
  color: whitesmoke;
  font-family: 'Muli';
  font-size: 0.6em;
  margin-left: 4%;
  position: relative;
}

.tutorial img{
  width: 25%;
}

.tutorial a{
  width: 30%;
  margin-left: 9%;
  margin-top: -10%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.video-container{
  -webkit-filter: drop-shadow(8px 12px 8px rgba(0, 0, 0, 0.3));
  width: 60vw;
  height: 20em;
  left: 20%;
  margin-top: 30%;
  position: absolute;
}

/*SEÇÃO 5 CELULAR*/
.rodape {
  width: 100%;
  height: 100%;
  border-top: whitesmoke solid;
  font-family: 'Muli';
  color: whitesmoke;
  margin-top: 30%;
}

.contatos{
  font-size: 0.77em;
  margin-left:-5%;
  margin-top: -115%;
  position: relative;
  margin-bottom: 2%;
}

.ajuda{
  font-size: 0.77em;
  width:70%;
  margin-top: -115%;
  position: relative;
  margin-bottom: 2%;
}

.saibasobre{
  font-size: 0.77em;
  width: 130%;
  margin-left: -25%;
  margin-top: -115%;
  position: relative;
  margin-bottom: 2%;
}

.pcontatos{
  font-size: 0.65em;
  position: relative;
  margin-top: 20%;
  margin-left: 15%;
  line-height: 14px;
  width: 94%;
}

.pajuda {
  font-size: 0.5em;
  position: relative;
  margin-top: 20%;
  margin-left: 5%;
  line-height: 14px;
  width: 94%;
}

.psaibasobre{
  font-size: 0.5em;
  margin-top: 10%;
  position: relative;
  margin-top: 20%;
  margin-left: 5%;
  line-height: 14px;
  width: 94%;
}

.rodape img {
  margin-top: 10%;

  width: 2.5%;
}
}
