/* RESET DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 990px){

body{
  height: 135vh;
  width: auto;
  font-size: 30px;
}

.row { margin: inherit; }

.linha_lateral {
  background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
  height: 135vh;
}

.img-logo {
  width: 130px;
  margin-left: 20%;
}

.cadastro {
  text-decoration: none;
  border-radius: 80px 80px;
  color: whitesmoke;
  font-family: 'Muli';
  font-size: 0.5em;
  border-style: none;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  /* superior | direita | inferior | esquerda */
  margin: 5% 0% 0% 22%;
}

/*CAMPOS*/
::-webkit-input-placeholder {
   color: #8D8989;
   font-size: 110%;
   font-family: 'Muli';
}

.chips .input {
  width: 80% !important;
  /*precisa colocar o important para tirar a formatação do materialize*/
}

.select-wrapper input.select-dropdown {
  color: #8D8989;
  font-family: 'Muli';
  font-size: 0.6em;
}

.select-wrapper+label {
    color: #7C6FBF;
    font-family: 'Muli';
    font-size: 0.5em;
  }

}


@media (min-width: 320px){


  #nome, #cpf, #endereço, #senha, #confirmasenha, #estado{
    margin-left: 3%;
    margin-top: 2%;
  }
  #confirmasenha{
    margin-top: -2%;
    width: 83%;
  }

  #senha{
    margin-top: -2%;
    width: 83%;
  }

  #nome
  {
    width: 82%;
  }

  #cpf{
    margin-top: -2%;
    width: 81%;
  }

  #materia{
    margin-top: -2%;
    margin-left: 7%;
    width: 75%;
  }

  #nome{
    margin-top: 5%;
  }

  #cidade{
    margin-top: 3%;
    margin-left: 3%;
    width: 84%;
  }

  #email{
    margin-left: 1.5%;
    width: 90%;
    margin-top: 1%;
  }

  #endereço{
    margin-top: -2%;
    width: 83%;
  }

  .cadastro {
    text-decoration: none;
    border-radius: 80px 80px;
    color: whitesmoke;
    font-family: 'Muli';
    font-size: 0.5em;
    border-style: none;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* superior | direita | inferior | esquerda */
    margin: 5% 0% 0% 30%;
  }

  .img-logo {
    width: 130px;
    margin-left: 25%;
  }
}

@media (min-width: 375px){

  .img-logo {
    width: 130px;
    margin-left: 27%;
  }

  .linha_lateral {
    background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
    height: 100vh;
  }
}

@media (min-width: 360px){

  .img-logo {
    width: 130px;
    margin-left: 27%;
  }
}

@media (min-width: 411px){

  .img-logo {
    width: 130px;
    margin-left: 30%;
  }
}

@media (min-height: 568px){

  .img-logo {
    width: 130px;
    margin-left: 27%;
  }

  .linha_lateral {
    background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
    height: 155vh;
  }
}

@media (min-height: 640px){

  .linha_lateral {
    background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
    height: 140vh;
  }
}

    @media (min-height: 731px){

    .linha_lateral {
      background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
      height: 150vh;
    }

    #nome, #cpf, #endereço, #senha, #confirmasenha, #estado{
      margin-left: 3%;
      margin-top: 4%;
    }
    #confirmasenha{
      width: 83%;
    }

    #senha{
      width: 83%;
    }

    #nome
    {
      width: 82%;
    }

    #cpf{
      width: 81%;
    }

    #materia{
      margin-top: 4%;
      margin-left: 7%;
      width: 75%;
    }

    #nome{
      margin-top: 5%;
    }

    #cidade{
      margin-top: 8%;
      margin-left: 3%;
      width: 84%;
    }

    #estado{
      margin-top: 8%;
    }

    #email{
      margin-left: 1.5%;
      width: 90%;
      margin-top: 4%;
    }

    #endereço{
      width: 83%;
    }
}


/*computador*/

@media (min-width: 990px){
  body { height: 115vh; }



  .img-logo{
    width: 200px;
    margin-top: 3%;
    margin-left: 37%;
  }

  .linha_lateral {
    background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
    height: 170vh;
  }

  .cadastro {
    text-decoration: none;
    border-radius: 80px 80px;
    color: whitesmoke;
    font-family: 'Muli';
    font-size: 1.7em;
    border-style: none;
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* superior | direita | inferior | esquerda */
    margin: 7% 0% 0% 36.5%;
  }

  /*CAMPOS*/
  ::-webkit-input-placeholder {
     color: #8D8989;
     font-size: 180%;
     font-family: 'Muli';
  }


  .chips .input {
      width: 80% !important; /*precisa colocar o important para tirar a formatação do materialize*/
  }

  .select-wrapper+label {
    color: #7C6FBF;
    font-family: 'Muli';
    font-size: 1.5em;
  }

  .select-wrapper input.select-dropdown {
    color: #8D8989;
    font-family: 'Muli';
    margin-top: 5%;
    font-size: 2em;
  }

#nome, #materia, #cpf, #endereço, #senha, #confirmasenha, #estado{
  margin-left: 12%;
  margin-top: 3%;
}
#nome{
  margin-top: 5%;
}

#cidade{
  margin-top: 3%;
}

#email{
  margin-left: 7%;
  margin-top: 3%;
}


}



@media (min-width: 1280px){
  .row { margin: inherit; }

  body { height: 110vh; }

  .linha_lateral {
    background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
    height: 180vh;
  }

  .img-logo{
    width: 220px;
    margin-top: 3%;
    margin-left: 37%;
  }

}

@media (min-height: 1000px)
{
  .row { margin: inherit; }

  body { height: 110vh; }

  .linha_lateral {
    background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
    height: 140vh;
  }

}

@media (min-height: 765px)
{
  .row { margin: inherit; }

  body { height: 110vh; }

  .linha_lateral {
    background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
    height: 190vh;
  }

}


@media (min-height: 900px)
{
  .row { margin: inherit; }

  body { height: 110vh; }

  .linha_lateral {
    background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
    height: 175vh;
  }

}


@media (min-height: 1080px)
{
  .row { margin: inherit; }

  .img-logo{
    width: 300px;
    margin-top: 3%;
    margin-left: 37%;
  }

  body { height: 110vh; }

  .linha_lateral {
    background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
    height: 155vh;
  }

}

@media (min-width: 1600px){

  .img-logo{
    width: 250px;
    margin-top: 3%;
    margin-left: 37%;
  }

}
