/* RESET DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 990px){

body{
  height: 100vh;
  width: auto;
  font-size: 30px;
}

.linha_lateral {
  background: linear-gradient(to bottom, #D0C7FC,#8F83CD, #8F83CD, #7C6FBF);
  height: 100vh;
}

.img-logo {
  width: 150px;

  margin-left: 40%;
}

/*CAMPOS*/

::-webkit-input-placeholder {
   color: #8D8989;
   font-size: 180%;
   font-family: 'Muli';

}

#nome {
  width: 100%;
  font-family: 'Muli';
}

#cpf {
  width: 80%;
  color: #8D8989;
  left: 13%;
}

#email {
  width: 80%;
  color: #8D8989;
  left: 13%;
}

.chips-placeholder {
  width: 80%;
}

#materia {
  width: 80%;
  color: #8D8989;
  left: 13%;
}

.chips .input {

  width: 80% !important; /*precisa colocar o important para tirar a formatação do materialize*/
}

#estado {
  width: 35%;
  color: #8D8989;
  left: 13%;
}

#cidade {
  width: 35%;
  color: #8D8989;
  left: 13%;
}

#endereço {
  width: 80%;
  color: #8D8989;
  left: 13%;
}

#senha {
  width: 80%;
  color: #8D8989;
  left: 13%;
}

#confirmasenha {
  width: 80%;
  color: #8D8989;
  left: 13%;
}

.cadastro {
  text-decoration: none;
  border-radius: 80px 80px;
  color: whitesmoke;
  font-family: 'Muli';
  font-size: 120%;
  border-style: none;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  position: relative;
}

.select-wrapper input.select-dropdown {
  color: #8D8989;
  font-family: 'Muli';
}

.select-wrapper+label {
    color: #8D8989;
    font-family: 'Muli';
    font-size: 1em;
  }
}

@media (min-width: 990px){
  .cadastro {
    text-decoration: none;
    border-radius: 80px 80px;
    color: whitesmoke;
    font-family: 'Muli';
    font-size: 100%;
    border-style: none;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* superior | direita | inferior | esquerda */
    margin: 5% 0% 3% 42%;
  }

  /*CAMPOS*/
  ::-webkit-input-placeholder {
     color: #8D8989;
     font-size: 180%;
     font-family: 'Muli';
  }

  #nome {
    width: 80%;
    font-family: 'Muli';
    color: #8D8989;
    left: 13%;
  }

  #cpf {
    width: 80%;
    color: #8D8989;
    left: 13%;
  }

  #email {
    width: 89.5%;
    color: #8D8989;
    left: 13%;
  }

  .chips-placeholder {
    width: 80%;
  }

  #materia {
    width: 80%;
    color: #8D8989;
    left: 13%;
  }

  .chips .input {
    width: 80% !important; /*precisa colocar o important para tirar a formatação do materialize*/
  }

  #estado {
    width: 35%;
    color: #8D8989;
    left: 13%;
  }

  #cidade {
    width: 35%;
    color: #8D8989;
    left: 13%;
    float: right;
    /* superior | direita | inferior | esquerda */
    margin: -5.5% 20% 0% 0%;
  }

  #endereço {
    width: 80%;
    color: #8D8989;
    left: 13%;
}

  #senha {
    width: 80%;
    color: #8D8989;
    left: 13%;
  }

  #confirmasenha {
    width: 80%;
    color: #8D8989;
    left: 13%;
  }
}
